<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/guestbook.css"/>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
        <div class="header-container">
                <header class="wrapper clearfix">
                    <h1 class="title">PREM KIRAN OSIPALLI</h1>
                    <nav>
                        <ul>
                        <li><a class="redtext"  href="A02OSIPALLI.html">Home</a></li>
                            <li><a href="area1.html">Area</a></li>
                            <li><a href="contact1.html">Contact</a></li>
                            <li><a href="guestbook">GUESTBOOK</a></li>
                        </ul>
                    </nav>
                </header>
            </div>
<h1>Prem's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook
</a>
</h1>
</body>