p
{
   font-size: 150%;
}
h1
{
text-align: center;
}
address
{
text-align: right;
}
section
{
text-align: center;
}
body
{
background-image: url("pic2.jpg");
background-position: center ;
    background-attachment: fixed;
	height: 200px;
    width: 85%;
background-size: cover;
}