
align
{
text-align: lest-side;
}
section
{
text-align: center;
}
h2
{
text-align: right;
}
section1
{
text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}
	 nav a {
        float: left;
        width: 17%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
nav {
        float: right;
        width: 38%;
    }
body
{
background-color= #b2beb5;
 
    background-attachment: fixed;
	height: 200px;
    width: 85%;
background-size: cover;
}